.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    width: 10%;
    justify-content: space-between;
    align-content: center;
}