@import '../../../../styles.scss';

.items-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    height: 10vh;
    background-color: $white;
    border: 1px solid $light-grey;
    border-radius: 5px;
    transition: 0.3s;

    &__text {
        margin-left: 1vw;
        color: $dirty-blue;
        font-size: 1.5rem;
        letter-spacing: 0;
        font-weight: 600;
    }

    &__button {
        background-color: $blue;
        color: $white;
        border-radius: 5px;
        width: 8vw;
        height: 6vh;
        font-size: 0.875rem;
        margin-right: 1vw;
        cursor: pointer;
    }
}

.items-list-item:hover {
    box-shadow: 0px 4px 8px 0px $grey;
}