<div class="side-navigation">
    <div class="side-navigation-website">
        <img
            class="side-navigation-website__img" 
            src="../../../assets/images/nicebeauty.com_eu_@2x.png" 
            alt="website screenshot"/>
        <a 
            class="side-navigation-website__link"
            href="https://hairstylist.com">
                hairstylist.com
        </a>
    </div>
    <ul class="side-navigation-links">
        <li><a href="">Marketing Plan</a></li>
        <li><a href="">Dashboard</a></li>
        <li><a href="">My Ads</a></li>
        <li><a href="">Analytics</a></li>
        <li><a href="">Cobiro Store</a></li>
    </ul>
</div>
