<div class="navigation">
    <div class="website">
        <div class="website_img">
            <img src="../../../assets/images/nicebeauty.com_eu_@2x.png" alt="website screenshot"/>
        </div>
        <div class="website_address">
            <a href="hairstylist.com">hairstylist.com</a>
        </div>
    </div>
    <div class="navigation-links">
        <ul class="navigation-links-list">
            <li><a href="">Marketing Plan</a></li>
            <li><a href="">Dashboard</a></li>
            <li><a href="">My Ads</a></li>
            <li><a href="">Analytics</a></li>
            <li><a href="">Cobiro Store</a></li>
        </ul>
    </div>
</div>
