@import '../../../styles.scss';

.side-navigation {
    height: 100vh;
    width: 20%;
    position: fixed;
    z-index: 1;
    background-color: $white;
    padding-top: 5vh;

    &-website {
        display: grid;
        justify-content: center;

        &__img {
            width: 12vw;
        }

        &__link {
            text-decoration: none;
            color: $dirty-blue;
            font-size: 0.875rem;
            font-weight: 600;
            justify-self: center;
            margin-top: 1vh;
        }
    }

    &-links {
        margin-top: 8vh;
        list-style-type: none;
    }
    
    &-links li a {
        display: block;
        padding-bottom: 4vh;
        padding-left: 2vw;
        text-decoration: none;
        font-weight: 600;
        font-size: 0.875rem;
        color: $dark-grey;
    }
}

