@charset "utf-8";

// Global helpers
@import './styles/layout';

* {
    margin:0;
    padding:0;
    border:0;
}

// colors

$light-blue: rgba(244, 249, 252, 1);
$light-darker-blue: rgba(234, 238, 244, 1);
$white: rgba(255, 255, 255, 1);
$grey: rgba(0, 0, 0, 0.16);
$blue: rgba(0, 135, 239, 1);
$dark-grey: rgba(76, 108, 131, 1);
$dirty-blue: rgba(0, 45, 79, 1);
$light-grey: rgba(229, 233, 237, 1);
$light-brown: rgba(0, 0, 0, 0.1);
$dark-blue: rgba(0, 18, 79, 1);


