@import '../../styles.scss';

.main-content {
    height: fit-content;
    min-height: 75vh;
    width: 73.7vw;
    margin-left: 20vw;
    padding-left: 5vw;
    padding-top: 8vh;
    padding-bottom: 5vh;
    background-color: $light-blue;
}

.search-bar {
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-between;
    width: 70vw;
    height: 5vh;
    border: 1px solid $light-grey;
    border-radius: 5px;
    background-color: $white;

    &__input {
        width: 70vw;
        font-size: 0.875rem; 
        padding-left: 10px;
        color: $dark-grey;
        opacity: 1;
    }

    &__input:focus {
        outline: none !important;
    }

    &__img {
        display: flex;
        align-self: center;
        margin-right: 1vw;
        text-align: center;
    }

}

::placeholder {
    opacity: 0.5;
}

.items-list {


    &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70vw;
        height: 10vh;
        background-color: $white;
        border: 1px solid $light-grey;
        border-radius: 5px;
        transition: box-shadow 0.3s;
        margin-bottom: 2.5vh;
    
        &__text {
            margin-left: 1vw;
            color: $dirty-blue;
            font-size: 1.5rem;
            letter-spacing: 0;
            font-weight: 600;

            @media screen and (max-width: 750px) {
                font-size: 1rem;
                margin-left: 2vw;
            }
        }
    
        &__button {
            background-color: $blue;
            color: $white;
            border-radius: 5px;
            width: 8vw;
            height: 6vh;
            font-size: 0.875rem;
            margin-right: 1vw;
            cursor: pointer;

            @media screen and (max-width: 750px) {
                font-size: 0.7rem;
                margin-right: 3vw;
            }
        }
    }
}


.items-list-item:hover {
    box-shadow: 0px 4px 8px 0px $grey;
}