<div class="main-content">
    <div class="search-bar">
        <input
            class="search-bar__input" 
            [(ngModel)]="searchText"
            name="searchText"
            type="search"
            autocomplete="off"
            placeholder="Search">
        <div class="search-bar__img">
            <img  
                src="../../../../assets/images/Path 3560.png" 
                alt="search"/>
        </div>
    </div>
    <div 
        *ngFor="let item of items | filter: searchText" 
        class="items-list">
        <div class="items-list-item">
            <div 
                class="items-list-item__text">
                    {{ item.title }}
            </div>
            <button 
                class="items-list-item__button">
                    Button
            </button>
        </div>
    </div>
        <div *ngIf="(items | filter:searchText).length < 1">
        Not Found
        </div>
</div>

